{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'unimng/style.css' %}">
<div class="container">
  <div class="title">
    UNIVERSITY MANAGEMENT
  </div>
  <div class="sub-container">
    {% if course_list %}
    <div class="sub-title">
      avialable courses
    </div>
    <div class="list">
      {% for course in course_list %}
      {% if course.schedule.count %}
      <li><a href="{% url 'unimng:course' course.id %}">{{course}}</a></li>
      {% else %}
      {% endif%}
      {% endfor %}
    </div>
    <div class="sub-title">
      all courses
    </div>
    <div class="list">
      {% for course in course_list %}
      <li><a href="{% url 'unimng:course' course.id %}">{{course}}</a></li>
      {% endfor %}
    </div>
    {% else %}
    <div class="sub-title">
      no courses avialable!
    </div>
    {% endif %}
  </div>
  <div class="nav-button">
    <a href="{% url 'unimng:professors' %}">professors</a>
  </div>
</div>