{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'unimng/style.css' %}">
<div class="container">
  <div class="title">
    PROFESSORS
  </div>
  <div class="sub-container">
    {% if professor_list %}
    <div class="sub-title">
      professor list
    </div>
    <div class="list">
      {% for professor in professor_list %}
      <li><a href="{% url 'unimng:professor' professor.id %}">{{ professor }}</a></li>
      {% endfor %}
    </div>
    {% else %}
    <div class="sub-title">
      there's nothing here to show!
    </div>
    {% endif %}
  </div>
  <div class="nav-button">
    <a href="{% url 'unimng:index' %}">home</a>
  </div>
</div>